<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    {% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    <title>{% block title %}Kula SIS{% endblock %}</title>        
    {% stylesheets '@KulaCoreFrameworkBundle/Resources/public/css/lib/bootstrap.css'
      '@KulaCoreFrameworkBundle/Resources/public/css/flash.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    {% javascripts 
      '@KulaCoreFrameworkBundle/Resources/public/js/lib/jquery-2.2.0.min.js'
      '@KulaCoreFrameworkBundle/Resources/public/js/lib/bootstrap.min.js'
    %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block body_javascripts %}{% endblock %}
  </body>
</html>