{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}
<input type="hidden" name="record_id" value="{{ request.query.get('record_id') }}" />
<input type="hidden" name="record_type" value="{{ request.query.get('record_type') }}" />
<div class="group-box">
<div class="group-box-header">Dates</div>
<div class="group-box-contents group">
<div class="form-field"><label name="pending">Start Date</label><input type="text" name="non[START_DATE]" value="{{ start_date }}" size="15" /></div>
<div class="form-field"><label name="pending">End Date</label><input type="text" name="non[END_DATE]" value="{{ end_date }}" size="15" /></div>
</div>
</div>
<div class="group-box">
<div class="group-box-header">T Record</div>
<div class="group-box-contents group">
<div class="form-field"><label name="pending">Transmitter Control Code</label><input type="text" name="non[TRANSMITTER_CONTROL_CODE]" size="8" maxlength="5" /></div>
<div class="form-field"><label name="non_TEST_FILE">Test File</label><input type="checkbox" id="non_TEST_FILE" name="non[TEST_FILE]" value="T" /></div>
<div class="form-field"><label name="non_FOREIGN_ENTITY_INDICATOR">Foreign Entity Indicator</label><input type="checkbox" id="non_FOREIGN_ENTITY_INDICATOR" name="non[FOREIGN_ENTITY_INDICATOR]" value="1" /></div>
<div class="form-field"><label name="non_TRANSMITTERS_NAME">Transmitter's Name</label><input type="text" id="non_TRANSMITTERS_NAME" name="non[TRANSMITTERS_NAME]" size="20" maxlength="80" /></div>
<div class="form-field"><label name="non_COMPANY_NAME">Company Name</label><input type="text" id="non_COMPANY_NAME" name="non[COMPANY_NAME]" size="20" maxlength="40" /></div>
<div class="form-field"><label name="non_COMPANY_ADDRESS">Company Address</label><input type="text" id="non_COMPANY_ADDRESS" name="non[COMPANY_ADDRESS]" size="20" maxlength="40" /></div>
<div class="form-field"><label name="non_COMPANY_CITY">Company City</label><input type="text" id="non_COMPANY_CITY" name="non[COMPANY_CITY]" size="20" maxlength="40" /></div>
<div class="form-field"><label name="non_COMPANY_STATE">Company State</label><input type="text" id="non_COMPANY_STATE" name="non[COMPANY_STATE]" size="5" maxlength="2" /></div>
<div class="form-field"><label name="non_COMPANY_ZIP_CODE">Company Zip Code</label><input type="text" id="non_COMPANY_ZIP_CODE" name="non[COMPANY_ZIP_CODE]" size="12" maxlength="9" /></div>
</div>
</div>
{% endblock %}