{% extends 'KulaCoreFrameworkBundle::teacher.html.twig' %}

{% block content %}
<div class="group-box">
<div class="group-box-header">Section</div>
<div class="group-box-contents group">
</div>
</div>

{% endblock %}