{% extends 'KulaCoreFrameworkBundle::sis.html.twig' %}

{% block content %}
<div class="group-box">
<div class="group-box-header">Send Data to PowerFAIDS</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, post_type: 'pf', table_row: false, field: 'Core.Integration.Database.DatabaseList', label: true, APPLICATION: 'PFAIDEU' }) }}
<div class="form-field">
  <label name="Action">Action</label>
  <select name="pf[action]">
    <option value=""></option>
    <option value="load">Load Data</option>
    <option value="reset">Reset</option>
  </select>
</div>
<div class="form-field">
  <label name="award_year_token">Award Year Token</label>
  <input type="text" name="pf[award_year_token]" size="6" value="" />
</div>
</div>
</div>
{% endblock %}