{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}
<div class="group-box">
<div class="group-box-header">Non Organization Info</div>
<div class="group-box-contents group">
{{ kula_field({ add: true, field: 'Core.NonOrganization.ConversionNonOrganizationNumber', db_row_id: kula_core_record.getSelectedRecord.NON_ORGANIZATION_ID, value: nonorganization.CONV_NON_ORGANIZATION_NUMBER, label: true }) }}
</div>
</div>
{% endblock %}