{% extends 'KulaCoreFrameworkBundle::sis.html.twig' %}

{% block content %}
<input type="hidden" name="record_id" value="{{ kula_core_record.getSelectedRecordID() }}" />
<input type="hidden" name="record_type" value="{{ kula_core_record.getRecordType() }}" />
<div class="group-box">
<div class="group-box-header">Instructor Schedule</div>
<div class="group-box-contents group">
</div>
</div>

{% endblock %}