body {
  font-size: 12px;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border: none;
}
.select2-container--bootstrap .select2-selection {
  font-size: 12px;
  height: inherit;
}
#header {
  font-size: 14px;
  min-height: 50px;
}
.navbar {
  min-height: 0px;
}
#focusbar {
  background-color: #EEEEEE;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

#focus_form {
  padding: 0.5em;
}

#window_bar {
  margin-top: 0.5em;
}