{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}
<input type="hidden" name="record_id" value="{{ request.query.get('record_id') }}" />
<input type="hidden" name="record_type" value="{{ request.query.get('record_type') }}" />
<div class="group-box">
<div class="group-box-header">Degree Audit</div>
<div class="group-box-contents group">
  Sort: 
  <select name="sort">
    <option value="name">Name</option>
    <option value="degree_name">Degree, Name</option>
    <option value="degree_concentration_name">Degree, Concentration, Name</option>
  </select>
</div>
</div>

{% endblock %}