{{ kula_field({ edit: true, field: 'HEd.Course.CourseNumber', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: kula_core_record.getSelectedRecord.COURSE_NUMBER, label: true }) }}
{{ kula_field({ edit: true, field: 'HEd.Course.Title', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, field_name_override: 'Course', value: kula_core_record.getSelectedRecord.COURSE_TITLE, label: true }) }}
{{ kula_field({ edit: true, field: 'HEd.Course.ShortTitle', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: kula_core_record.getSelectedRecord.SHORT_TITLE, label: true }) }}
{{ kula_field({ edit: true, field: 'HEd.Course.Status', db_row_id: kula_core_record.getSelectedRecord.COURSE_ID, value: kula_core_record.getSelectedRecord.STATUS, label: true }) }}
{% if kula_core_record.getSelectedRecord.STATUS == 'I' %}
	<div class="form-field" style="font-weight:bold;padding-top:15px;padding-left:10px;">Course is inactive.</div>
{% endif %}