{% extends 'KulaCoreFrameworkBundle::core.html.twig' %}

{% block content %}
<input type="hidden" name="record_id" value="{{ request.query.get('record_id') }}" />
<input type="hidden" name="record_type" value="{{ request.query.get('record_type') }}" />
<div class="group-box">
<div class="group-box-header">Billing Statement</div>
<div class="group-box-contents group">
<div class="form-field"><label name="pending">Show Pending FA</label><input type="checkbox" name="non[SHOW_PENDING_FA]" value="Y" checked="checked"></div>
</div>	
<div class="group-box-contents group">
<div class="form-field"><label name="pending">Show Only With Positive Balances</label><input type="checkbox" name="non[ONLY_BALANCES]" value="Y"></div>	
<div class="form-field"><label name="pending">Show Only With Negative Balances</label><input type="checkbox" name="non[ONLY_NEGATIVE_BALANCES]" value="Y"></div>
<div class="form-field"><label name="pending">Show Balances For Focus Organization Only</label><input type="checkbox" name="non[ONLY_FOCUS_ORGANIZATION_BALANCES]" value="Y" checked="checked"></div>	
</div>
<div class="group-box-contents group">
<div class="form-field"><label name="pending">Added To Term From Date</label><input type="text" name="non[FROM_ADD_DATE]" value="" size="15" /></div>	
</div>
<div class="group-box-contents group">
<div class="form-field"><label name="pending">Due Date</label><input type="text" name="non[DUE_DATE]" value="" size="15" /></div>	
</div>
<div class="group-box-contents group">
<div class="form-field"><label name="student">Students</label><textarea name="non[student]" rows="15" cols="40"></textarea></div>	
</div>
</div>
{% endblock %}