{% extends 'KulaCoreFrameworkBundle:Base:base.mobile.twig' %}

{% block stylesheets %}
    {% stylesheets 
			'@KulaCoreLoginBundle/Resources/public/css/*.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block head %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock %}

{% block body %}
<div class="container" id="login_form">

<form class="form-signin" action="{{ path( 'attempt_login') }}" method="post">
  <h2 class="form-signin-heading">{{ instance_name }}</h2>
  <a id="google_auth" href="{{ authurl }}" class="btn btn-lg btn-danger btn-block" style="margin-bottom:5px;">Sign in with Google</a>
  {% include 'KulaCoreFrameworkBundle:Base:flash.html.twig' %}
  <label for="inputEmail" class="sr-only">Username/Email</label>
  <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Email address" autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

</div> <!-- /container -->
{% endblock %}