{% extends 'KulaCoreFrameworkBundle::sis.html.twig' %}

{% block content %}
<input type="hidden" name="record_id" value="{{ request.query.get('record_id') }}" />
<input type="hidden" name="record_type" value="{{ request.query.get('record_type') }}" />
<div class="group-box">
<div class="group-box-header">Enrollment Verification</div>
<div class="group-box-contents group">
</div>
</div>
{% endblock %}