{% extends 'KulaCoreFrameworkBundle::sis.html.twig' %}

{% block content %}
<div class="group-box">
<div class="group-box-header">Combine Constituent</div>
<div class="group-box-contents group">Delete Constituent:
{{ kula_field({ non: true, db_row_id: 'delete', field: 'Core.Constituent.ID', label: false }) }}
</div>
<div class="group-box-contents group">Keep Constituent:
{{ kula_field({ non: true, db_row_id: 'keep', field: 'Core.Constituent.ID', label: false }) }}
</div>
</div>

{% endblock %}